// deep purple
$deepPurple-50:  #ede7f6;
$deepPurple-100: #d1c4e9;
$deepPurple-200: #b39ddb;
$deepPurple-300: #9575cd;
$deepPurple-400: #7e57c2;
$deepPurple-500: #673ab7;
$deepPurple-600: #5e35b1;
$deepPurple-700: #512da8;
$deepPurple-800: #4527a0;
$deepPurple-900: #311b92;
$deepPurple-A100:  #b388ff;
$deepPurple-A200:  #7c4dff;
$deepPurple-A400:  #651fff;
$deepPurple-A700:  #6200ea;