// deep purple
$c50:  #ede7f6;
$c100: #d1c4e9;
$c200: #b39ddb;
$c300: #9575cd;
$c400: #7e57c2;
$c500: #673ab7;
$c600: #5e35b1;
$c700: #512da8;
$c800: #4527a0;
$c900: #311b92;
$cA100:  #b388ff;
$cA200:  #7c4dff;
$cA400:  #651fff;
$cA700:  #6200ea;