@import "palette/deepPurple";
@import "palette/lightBlue";
@import "palette/red";
@import "palette/orange";
@import "palette/green";

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

$main: $blue-500;
$color-function: $red-100;
$color-object: $blue-100;
$color-string: $green-100;
$color-number: $orange-100;
$color-predecessor: $red-500;
$color-successor: $blue-500;
// $color-null: $red-100;
// $color-undefined: $red-100;
$transition-duration: 0.25s;
