/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "base";
@import "common";
@import "elements/settings";
@import "elements/inspector";
@import "elements/search";
@import "elements/about";

@import "renderer/d3";

#__bs_notify__ {
  display: none!important;
}

html {
  &.notoolbar {
    /deep/ core-toolbar {
      display: none;
    }
  }
}

// polymer style fix
body {
  core-animated-pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    section {
      padding: 40px;
    }
  }

  /deep/ {
    .center {
      display: block;
      margin: auto;
    }
    h1 {
      font-weight: 100;
      font-size: 3em;
    }
    core-header-panel[main] {
      background-color: white;
      core-toolbar {
        background-color: $main;
      }
    }
    .pojoviz {
      font-weight: 100;
      font-size: 1.3rem;
      color: $main;
    }
    core-item:hover {
      cursor: pointer!important;
    }
    .readme-iframe {
      margin: auto;
      display: block;
      html {
        -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 14px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 14px 0px rgba(0,0,0,0.75);
      }
    }
    .as-button {
      text-decoration: none;
      padding: 10px;
      @include border-radius(15px);
      background: $main;
      color: white;
    }
  }
}

.logo {
  text-align: center;
  padding: 30px 15px 15px;
  font-size: 4em;
  font-weight: 100;
  .subtitle {
    padding-top: 10px;
    font-size: 12px;
  }
}

// small font
html /deep/ .small {
  font-size: 12px!important;
  font-weight: 100;
}

// popup common
html /deep/ {
  paper-dialog {
    &::shadow #scroller {
      width: 850px;
      height: 650px;
    }
  }
}

// lower the font size of the items in the sidebar
pojoviz-library-menu::shadow {
  .library {
    font-size: 13px;
  }
}

// library runtime configuration
.library-runtime-configuration {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  opacity: 0.3;

  @include transition-property(opacity);
  @include transition-duration($transition-duration);

  &:hover {
    opacity: 1;
  }
}