/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 24, ../sass/_base.scss */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 19, ../sass/app.scss */
#__bs_notify__ {
  display: none !important;
}

/* line 23, ../sass/app.scss */
*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
}

/* line 27, ../sass/app.scss */
.no-padding {
  padding: 0 !important;
}

/* line 33, ../sass/app.scss */
body core-animated-pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 40, ../sass/app.scss */
body core-animated-pages section {
  padding: 40px;
}
/* line 46, ../sass/app.scss */
body /deep/ core-header-panel[main] {
  background-color: white;
}
/* line 48, ../sass/app.scss */
body /deep/ core-header-panel[main] core-toolbar {
  background-color: #03a9f4;
}

/* line 54, ../sass/app.scss */
.logo {
  text-align: center;
  padding: 15px;
  font-size: 50px;
  font-weight: 100;
}
/* line 59, ../sass/app.scss */
.logo .subtitle {
  font-size: 12px;
}

/* line 65, ../sass/app.scss */
.pv-link {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  fill: none;
  stroke-width: 3px;
  stroke: lightgrey;
}
/* line 72, ../sass/app.scss */
.pv-link.selected {
  stroke: #03a9f4;
}
/* line 74, ../sass/app.scss */
.pv-link.selected.predecessor {
  stroke: #e51c23;
}
/* line 77, ../sass/app.scss */
.pv-link.selected.successor {
  stroke: #03a9f4;
}

/* line 83, ../sass/app.scss */
.canvas-wrapper {
  height: 100%;
}

/* line 86, ../sass/app.scss */
svg#canvas {
  width: 100%;
  height: 100%;
}
/* line 91, ../sass/app.scss */
svg#canvas.dragged {
  cursor: move;
}
/* line 95, ../sass/app.scss */
svg#canvas .pv-nodes-focused .pv-node {
  opacity: 0.3;
}
/* line 97, ../sass/app.scss */
svg#canvas .pv-nodes-focused .pv-node.selected {
  opacity: 1;
}
/* line 101, ../sass/app.scss */
svg#canvas .pv-nodes-focused .pv-node.predecessor .node-background {
  stroke: #e51c23;
}
/* line 106, ../sass/app.scss */
svg#canvas .pv-nodes-focused .pv-node.successor .node-background {
  stroke: #03a9f4;
}
/* line 111, ../sass/app.scss */
svg#canvas .pv-nodes-focused .pv-node.current .node-background {
  stroke: #673ab7;
}

/* line 119, ../sass/app.scss */
.pv-node {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 123, ../sass/app.scss */
.pv-node .node-background {
  fill: white;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke: #b3e5fc;
  stroke-width: 2px;
}
/* line 130, ../sass/app.scss */
.pv-node .pv-title {
  font-size: 17px;
  font-weight: 100;
}
/* line 137, ../sass/app.scss */
.pv-node .pv-body .pv-property .pv-dot-object {
  fill: #03a9f4;
  fill-opacity: 1;
}
/* line 141, ../sass/app.scss */
.pv-node .pv-body .pv-property .pv-dot-function {
  fill: #f9bdbb;
}
/* line 146, ../sass/app.scss */
.pv-node .pv-body .pv-property .pv-property-background {
  fill: white;
}
/* line 150, ../sass/app.scss */
.pv-node .pv-body .pv-property:hover {
  cursor: pointer;
}
/* line 155, ../sass/app.scss */
.pv-node .pv-body .pv-property.pv-__proto__ rect {
  fill: #b3e5fc;
  fill-opacity: 0.15;
  stroke-dasharray: 2;
}
/* line 160, ../sass/app.scss */
.pv-node .pv-body .pv-property.pv-__proto__ text {
  stroke-dasharray: 1;
  fill: #b3e5fc;
}
/* line 167, ../sass/app.scss */
.pv-node .pv-body .pv-property rect.pv-string {
  stroke: #a3e9a4;
}
/* line 170, ../sass/app.scss */
.pv-node .pv-body .pv-property rect.pv-number {
  stroke: #ffe0b2;
}
/* line 176, ../sass/app.scss */
.pv-node .pv-body .pv-property rect.pv-object {
  stroke: #b3e5fc;
}
/* line 184, ../sass/app.scss */
.pv-node.pv-function rect.node-background {
  stroke: #f9bdbb;
}

/* line 195, ../sass/app.scss */
pojoviz-settings::shadow paper-slider::shadow #sliderKnobInner, pojoviz-settings::shadow paper-slider::shadow #sliderKnobInner::before,
pojoviz-settings::shadow paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #03a9f4;
}
/* line 201, ../sass/app.scss */
pojoviz-settings::shadow paper-checkbox::shadow #ink[checked] {
  color: #03a9f4;
}
/* line 204, ../sass/app.scss */
pojoviz-settings::shadow paper-checkbox::shadow #checkbox.checked {
  border-color: #03a9f4;
}

/* line 211, ../sass/app.scss */
core-submenu core-item {
  font-size: 13px;
}
