/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/_common.scss */
html /deep/ .unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 11, ../sass/_common.scss */
html /deep/ .no-padding {
  padding: 0 !important;
}

/* line 21, ../sass/_common.scss */
html /deep/ paper-toggle-button::shadow .toggle-ink {
  color: #4fc3f7;
}
/* line 25, ../sass/_common.scss */
html /deep/ paper-toggle-button::shadow [checked] .toggle-bar {
  background-color: #b3e5fc;
}
/* line 28, ../sass/_common.scss */
html /deep/ paper-toggle-button::shadow [checked] .toggle-button {
  background-color: #4fc3f7;
}
/* line 36, ../sass/_common.scss */
html /deep/ paper-input /deep/ .focused-underline {
  background-color: #4fc3f7;
}
/* line 41, ../sass/_common.scss */
html /deep/ paper-input /deep/ [focused] /deep/ .floated-label .label-text {
  color: #4fc3f7;
}
/* line 47, ../sass/_common.scss */
html /deep/ paper-slider::shadow #sliderKnobInner, html /deep/ paper-slider::shadow #sliderKnobInner::before {
  background-color: #4fc3f7;
}
/* line 50, ../sass/_common.scss */
html /deep/ paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #4fc3f7;
}

/* line 7, ../sass/elements/settings.scss */
pojoviz-settings::shadow paper-slider::shadow #sliderKnobInner, pojoviz-settings::shadow paper-slider::shadow #sliderKnobInner::before,
pojoviz-settings::shadow paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #03a9f4;
}
/* line 13, ../sass/elements/settings.scss */
pojoviz-settings::shadow paper-checkbox::shadow #ink[checked] {
  color: #03a9f4;
}
/* line 16, ../sass/elements/settings.scss */
pojoviz-settings::shadow paper-checkbox::shadow #checkbox.checked {
  border-color: #03a9f4;
}
/* line 22, ../sass/elements/settings.scss */
pojoviz-settings::shadow paper-radio-button::shadow #onRadio {
  background-color: #03a9f4;
}

/* line 6, ../sass/elements/inspector.scss */
html /deep/ pojoviz-inspector-form /deep/ paper-input {
  width: 100%;
}
/* line 10, ../sass/elements/inspector.scss */
html /deep/ pojoviz-inspector-form /deep/ paper-spinner {
  position: relative;
  top: 40px;
  left: 20px;
}
/* line 17, ../sass/elements/inspector.scss */
html /deep/ pojoviz-inspector-form /deep/ .options .bold {
  font-weight: bold;
}
/* line 21, ../sass/elements/inspector.scss */
html /deep/ pojoviz-inspector-form /deep/ .options [center] {
  margin: 20px 0;
}
/* line 27, ../sass/elements/inspector.scss */
html /deep/ pojoviz-inspector-form /deep/ paper-toggle-button {
  width: 50px;
}

/* popup */
/* line 6, ../sass/elements/search.scss */
html /deep/ #searchPopup::shadow #scroller {
  width: 850px;
  height: 650px;
}
/* line 12, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-input {
  width: 90%;
}
/* line 16, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-spinner {
  position: relative;
  top: 40px;
  left: 20px;
}
/* line 23, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-radio-group .results {
  max-height: 200px;
  width: 90%;
  overflow-y: scroll;
  font-size: 12px;
}
/* line 29, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-radio-group .results paper-radio-button {
  padding: 10px;
}
/* line 33, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-radio-group .results .library-name {
  padding: 5px;
  font-size: 15px;
  font-weight: 100;
}
/* line 38, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-radio-group .results .library-url {
  font-size: 12px;
  word-wrap: break-word;
}
/* line 42, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-radio-group .results .record {
  margin: 20px 0;
}
/* line 49, ../sass/elements/search.scss */
html /deep/ #searchPopup .options .bold {
  font-weight: bold;
}
/* line 53, ../sass/elements/search.scss */
html /deep/ #searchPopup .options [center] {
  margin: 20px 0;
}
/* line 58, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-toggle-button {
  width: 50px;
}
/* line 66, ../sass/elements/search.scss */
html /deep/ #searchPopup .small {
  font-size: 12px !important;
  font-weight: 100;
}
/* line 70, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-button {
  margin: 0 10px;
}
/* line 73, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-button[raisedButton].green {
  background: #259b24;
  color: #fff;
}
/* line 77, ../sass/elements/search.scss */
html /deep/ #searchPopup paper-button[raisedButton].blue {
  background: #03a9f4;
  color: #fff;
}

/* popup */
/* line 6, ../sass/elements/about.scss */
html /deep/ #aboutPopup::shadow #scroller {
  width: 600px;
  height: 350px;
}

/* line 11, ../sass/renderer/d3.scss */
html /deep/ .pv-link {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  fill: none;
  stroke-width: 3px;
  stroke: lightgrey;
}
/* line 18, ../sass/renderer/d3.scss */
html /deep/ .pv-link.selected {
  stroke: #03a9f4;
}
/* line 20, ../sass/renderer/d3.scss */
html /deep/ .pv-link.selected.predecessor {
  stroke: #e51c23;
}
/* line 23, ../sass/renderer/d3.scss */
html /deep/ .pv-link.selected.successor {
  stroke: #03a9f4;
}
/* line 29, ../sass/renderer/d3.scss */
html /deep/ .canvas-wrapper {
  height: 100%;
}
/* line 32, ../sass/renderer/d3.scss */
html /deep/ svg#canvas {
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/renderer/d3.scss */
html /deep/ svg#canvas.dragged {
  cursor: move;
}
/* line 41, ../sass/renderer/d3.scss */
html /deep/ svg#canvas .pv-nodes-focused .pv-node {
  opacity: 0.3;
}
/* line 43, ../sass/renderer/d3.scss */
html /deep/ svg#canvas .pv-nodes-focused .pv-node.selected {
  opacity: 1;
}
/* line 47, ../sass/renderer/d3.scss */
html /deep/ svg#canvas .pv-nodes-focused .pv-node.predecessor .node-background {
  stroke: #e51c23;
}
/* line 52, ../sass/renderer/d3.scss */
html /deep/ svg#canvas .pv-nodes-focused .pv-node.successor .node-background {
  stroke: #03a9f4;
}
/* line 57, ../sass/renderer/d3.scss */
html /deep/ svg#canvas .pv-nodes-focused .pv-node.current .node-background {
  stroke: #673ab7;
}
/* line 65, ../sass/renderer/d3.scss */
html /deep/ .pv-node {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 69, ../sass/renderer/d3.scss */
html /deep/ .pv-node .node-background {
  fill: white;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke: #b3e5fc;
  stroke-width: 2px;
}
/* line 76, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-title {
  font-size: 17px;
  font-weight: 100;
}
/* line 83, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property .pv-dot-object {
  fill: #03a9f4;
  fill-opacity: 1;
}
/* line 87, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property .pv-dot-function {
  fill: #f9bdbb;
}
/* line 92, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property .pv-property-background {
  fill: white;
}
/* line 96, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property:hover {
  cursor: pointer;
}
/* line 101, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property.pv-__proto__ rect {
  fill: #b3e5fc;
  fill-opacity: 0.15;
  stroke-dasharray: 2;
}
/* line 106, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property.pv-__proto__ text {
  stroke-dasharray: 1;
  fill: #b3e5fc;
}
/* line 113, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property rect.pv-string {
  stroke: #a3e9a4;
}
/* line 116, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property rect.pv-number {
  stroke: #ffe0b2;
}
/* line 122, ../sass/renderer/d3.scss */
html /deep/ .pv-node .pv-body .pv-property rect.pv-object {
  stroke: #b3e5fc;
}
/* line 130, ../sass/renderer/d3.scss */
html /deep/ .pv-node.pv-function rect.node-background {
  stroke: #f9bdbb;
}

/* line 16, ../sass/app.scss */
#__bs_notify__ {
  display: none !important;
}

/* line 22, ../sass/app.scss */
html.notoolbar /deep/ core-toolbar {
  display: none;
}

/* line 31, ../sass/app.scss */
body /deep/ core-animated-pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/app.scss */
body /deep/ core-animated-pages section {
  padding: 40px;
}
/* line 41, ../sass/app.scss */
body /deep/ .logo {
  text-align: center;
  padding: 30px 15px 15px;
  font-size: 4em;
  font-weight: 100;
}
/* line 46, ../sass/app.scss */
body /deep/ .logo .subtitle {
  padding-top: 10px;
  font-size: 12px;
}
/* line 51, ../sass/app.scss */
body /deep/ .center {
  display: block;
  margin: auto;
}
/* line 55, ../sass/app.scss */
body /deep/ h1 {
  font-weight: 100;
  font-size: 3em;
}
/* line 59, ../sass/app.scss */
body /deep/ core-header-panel[main] {
  background-color: white;
}
/* line 61, ../sass/app.scss */
body /deep/ core-header-panel[main] core-toolbar {
  background-color: #03a9f4;
}
/* line 68, ../sass/app.scss */
body /deep/ .pojoviz {
  font-weight: 100;
  font-size: 1.3rem;
  color: #03a9f4;
}
/* line 73, ../sass/app.scss */
body /deep/ core-item:hover {
  cursor: pointer !important;
}
/* line 76, ../sass/app.scss */
body /deep/ .readme-iframe {
  margin: auto;
  display: block;
}
/* line 79, ../sass/app.scss */
body /deep/ .readme-iframe html {
  -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
/* line 85, ../sass/app.scss */
body /deep/ .as-button {
  text-decoration: none;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #03a9f4;
  color: white;
}
/* line 95, ../sass/app.scss */
body /deep/ pojoviz-library-menu::shadow .library {
  font-size: 13px;
}
/* line 101, ../sass/app.scss */
body /deep/ .library-runtime-configuration {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  opacity: 0.3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 111, ../sass/app.scss */
body /deep/ .library-runtime-configuration:hover {
  opacity: 1;
}

/* line 123, ../sass/app.scss */
html /deep/ .small {
  font-size: 12px !important;
  font-weight: 100;
}

/* line 131, ../sass/app.scss */
html /deep/ paper-dialog::shadow #scroller {
  width: 850px;
  height: 650px;
}
