/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/_base.scss */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 21, ../sass/screen.scss */
*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
}

/* line 25, ../sass/screen.scss */
.no-padding {
  padding: 0 !important;
}

/* line 31, ../sass/screen.scss */
body core-animated-pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 38, ../sass/screen.scss */
body core-animated-pages section {
  padding: 40px;
}
/* line 44, ../sass/screen.scss */
body /deep/ core-header-panel[main] {
  background-color: white;
}
/* line 46, ../sass/screen.scss */
body /deep/ core-header-panel[main] core-toolbar {
  background-color: #03a9f4;
}

/* line 52, ../sass/screen.scss */
.logo {
  text-align: center;
  padding: 15px;
  font-size: 50px;
  font-weight: 100;
}
/* line 57, ../sass/screen.scss */
.logo .subtitle {
  font-size: 12px;
}

/* line 63, ../sass/screen.scss */
.pv-link {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  fill: none;
  stroke-width: 8px;
  stroke: lightgrey;
}
/* line 70, ../sass/screen.scss */
.pv-link.selected {
  stroke: #03a9f4;
}
/* line 72, ../sass/screen.scss */
.pv-link.selected.predecessor {
  stroke: #e51c23;
}
/* line 75, ../sass/screen.scss */
.pv-link.selected.successor {
  stroke: #03a9f4;
}

/* line 81, ../sass/screen.scss */
.canvas-wrapper {
  height: 100%;
}

/* line 84, ../sass/screen.scss */
svg.canvas {
  width: 100%;
  height: 100%;
}
/* line 89, ../sass/screen.scss */
svg.canvas.dragged {
  cursor: move;
}
/* line 93, ../sass/screen.scss */
svg.canvas .pv-nodes-focused .pv-node {
  opacity: 0.3;
}
/* line 95, ../sass/screen.scss */
svg.canvas .pv-nodes-focused .pv-node.selected {
  opacity: 1;
}
/* line 99, ../sass/screen.scss */
svg.canvas .pv-nodes-focused .pv-node.predecessor .node-background {
  stroke: #e51c23;
}
/* line 104, ../sass/screen.scss */
svg.canvas .pv-nodes-focused .pv-node.successor .node-background {
  stroke: #03a9f4;
}

/* line 112, ../sass/screen.scss */
.pv-node {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 116, ../sass/screen.scss */
.pv-node .node-background {
  fill: white;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke: #b3e5fc;
  stroke-width: 2px;
}
/* line 129, ../sass/screen.scss */
.pv-node .pv-body .pv-property .pv-dot {
  fill: #03a9f4;
}
/* line 133, ../sass/screen.scss */
.pv-node .pv-body .pv-property .pv-property-background {
  fill: white;
}
/* line 137, ../sass/screen.scss */
.pv-node .pv-body .pv-property:hover {
  cursor: pointer;
}
/* line 142, ../sass/screen.scss */
.pv-node .pv-body .pv-property.pv-__proto__ rect {
  fill: #b3e5fc;
  fill-opacity: 0.15;
  stroke-dasharray: 2;
}
/* line 147, ../sass/screen.scss */
.pv-node .pv-body .pv-property.pv-__proto__ text {
  stroke-dasharray: 1;
  fill: #b3e5fc;
}
/* line 154, ../sass/screen.scss */
.pv-node .pv-body .pv-property rect.pv-string {
  stroke: #a3e9a4;
}
/* line 157, ../sass/screen.scss */
.pv-node .pv-body .pv-property rect.pv-number {
  stroke: #ffe0b2;
}
/* line 163, ../sass/screen.scss */
.pv-node .pv-body .pv-property rect.pv-object {
  stroke: #b3e5fc;
}
/* line 171, ../sass/screen.scss */
.pv-node.pv-function rect.node-background {
  stroke: #f9bdbb;
}

/* line 182, ../sass/screen.scss */
pojoviz-settings::shadow paper-slider::shadow #sliderKnobInner, pojoviz-settings::shadow paper-slider::shadow #sliderKnobInner::before,
pojoviz-settings::shadow paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #03a9f4;
}
/* line 188, ../sass/screen.scss */
pojoviz-settings::shadow paper-checkbox::shadow #ink[checked] {
  color: #03a9f4;
}
/* line 191, ../sass/screen.scss */
pojoviz-settings::shadow paper-checkbox::shadow #checkbox.checked {
  border-color: #03a9f4;
}
