@import '../base';

$color-function: $red-100;
$color-object: $blue-100;
$color-string: $green-100;
$color-number: $orange-100;
$color-predecessor: $red-500;
$color-successor: $blue-500;

html /deep/ {
  .pv-link {
    @include transition-property(stroke);
    @include transition-duration($transition-duration);

    fill: none;
    stroke-width: 3px;
    stroke: lightgrey;
    &.selected {
      stroke: $main;
      &.predecessor {
        stroke: $color-predecessor;
      }
      &.successor {
        stroke: $color-successor;
      }
    }
  }

  .canvas-wrapper {
    height: 100%;
  }
  svg {
    // background-color: $c50;
    width: 100%;
    height: 100%;

    &.dragged {
      cursor: move;
    }
    .pv-nodes-focused {
      .pv-node {
        opacity: 0.3;
        &.selected {
          opacity: 1;
        }
        &.predecessor {
          .node-background {
            stroke: $color-predecessor;
          }
        }
        &.successor {
          .node-background {
            stroke: $color-successor;
          }
        }
        &.current {
          .node-background {
            stroke: $deepPurple-500;
          }
        }
      }
    }
  }

  .pv-node {
    @include transition-property(opacity);
    @include transition-duration($transition-duration);

    .node-background {
      fill: white;
      fill-opacity: 1;
      stroke-opacity: 1;
      stroke: $color-object;
      stroke-width: 2px;
    }
    .pv-title {
      font-size: 17px;
      font-weight: 100;
    }
    .pv-body {
      .pv-property {

        .pv-dot-object {
          fill: $main;
          fill-opacity: 1;
        }
        .pv-dot-function {
          fill: $color-function;
          // fill-opacity: 0.5;
        }

        .pv-property-background {
          fill: white;
        }

        &:hover {
          cursor: pointer;
        }

        &.pv-__proto__ {
          rect {
            fill: $color-object;
            fill-opacity: 0.15;
            stroke-dasharray: 2;
          }
          text {
            stroke-dasharray: 1;
            fill: $color-object;
          }
        }

        rect {
          &.pv-string {
            stroke: $color-string;
          }
          &.pv-number {
            stroke: $color-number;
          }
          &.pv-function {
            // stroke: $color-function;
          }
          &.pv-object {
            stroke: $color-object;
          }
        }
      }
    }

    &.pv-function {
      rect.node-background {
        stroke: $color-function;
      }
    }
  }
}