/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.link {
  fill: none;
  stroke-width: 8px;
}

.dw-node {
  .node-background {
    fill: white;
    stroke: lightgrey;
    stroke-width: 2px;
  }
  .dw-title {
    
  }
	.dw-body {
		.dw-property {
			.dw-property-background {
        fill: white;
      }

      &:hover {
        cursor: pointer;
      }
		}
	}
}

rect {
	&.dw-string {
		stroke: red;
	}
	&.dw-number {
		stroke: blue;
	}
	&.dw-function {
		stroke: green;
	}
	&.dw-object {
		stroke: orange;
	}
}