/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
}

.pv-link {
  @include transition-property(stroke);
  @include transition-duration(0.2s);

  fill: none;
  stroke-width: 8px;
  stroke: lightgrey;
  &.selected {
    stroke: purple;
  }
}

svg.canvas {
  &.dragged {
    cursor: move;
  }
  .pv-nodes-focused {
    .pv-node {
      opacity: 0.3;
      &.selected {
        opacity: 1;
      }
    }
  }
}

.pv-node {
  @include transition-property(opacity);
  @include transition-duration(0.2s);

  .node-background {
    fill: white;
    stroke: lightgrey;
    stroke-width: 2px;
  }
  .pv-title {
    
  }
	.pv-body {
		.pv-property {
			.pv-property-background {
        fill: white;
      }

      &:hover {
        cursor: pointer;
      }

      &.pv-__proto__ {
        rect {
          fill: purple;
          fill-opacity: 0.15;
          stroke-dasharray: 2;
        }
        text {
          stroke-dasharray: 1;
          fill: purple;
        }
      }
		}
	}
}

rect {
	&.pv-string {
		stroke: red;
	}
	&.pv-number {
		stroke: blue;
	}
	&.pv-function {
		stroke: green;
	}
	&.pv-object {
		stroke: orange;
	}
}