/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "base";
// @import "palette/deepPurple";
@import "palette/lightBlue";
@import "palette/red";

*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
}

// polymer style fix
body /deep/ { 
  core-header-panel[main] {
    background-color: white;
    core-toolbar {
      background-color: $blue-500;
    }
  }
}
.logo {
  padding: 15px;
  font-size: 50px;
  font-weight: 100;
  .subtitle {
    font-size: 12px;
  }
}

// app
.pv-link {
  @include transition-property(stroke);
  @include transition-duration(0.2s);

  fill: none;
  stroke-width: 8px;
  stroke: lightgrey;
  &.selected {
    stroke: $blue-500;
    &.predecessor {
      stroke: $red-500;
    }
    &.successor {
      stroke: $blue-500;
    }
  }
}

svg.canvas {
  // background-color: $c50;

  &.dragged {
    cursor: move;
  }
  .pv-nodes-focused {
    .pv-node {
      opacity: 0.3;
      &.selected {
        opacity: 1;
      }
      &.predecessor {
        .node-background {
          stroke: $red-100;
        }
      }
      &.successor {
        .node-background {
          stroke: $blue-100;
        }
      }
    }
  }
}

.pv-node {
  @include transition-property(opacity);
  @include transition-duration(0.2s);
  
  .node-background {
    fill: white;
    fill-opacity: 1;
    stroke-opacity: 1;
    stroke: $blue-100;
    stroke-width: 2px;
  }
  .pv-title {
    
  }
	.pv-body {
		.pv-property {

      .pv-dot {
        fill: $blue-900;
      }

			.pv-property-background {
        fill: white;
      }

      &:hover {
        cursor: pointer;
      }

      &.pv-__proto__ {
        rect {
          fill: $blue-500;
          fill-opacity: 0.15;
          stroke-dasharray: 2;
        }
        text {
          stroke-dasharray: 1;
          fill: $blue-500;
        }
      }
		}
	}
}

rect {
	&.pv-string {
		stroke: red;
	}
	&.pv-number {
		stroke: blue;
	}
	&.pv-function {
		stroke: green;
	}
	&.pv-object {
		stroke: orange;
	}
}

// section {
//   & > div {
//     height: 100%;
//     color: $red-500;
//   }
// }

// core-animated-pages {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   font-size: 72px;
//   // overflow: hidden;
// }