/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
}

/* line 13, ../sass/screen.scss */
.pv-link {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  fill: none;
  stroke-width: 8px;
  stroke: lightgrey;
}
/* line 20, ../sass/screen.scss */
.pv-link.selected {
  stroke: purple;
}

/* line 26, ../sass/screen.scss */
svg.canvas.dragged {
  cursor: move;
}
/* line 30, ../sass/screen.scss */
svg.canvas .pv-nodes-focused .pv-node {
  opacity: 0.3;
}
/* line 32, ../sass/screen.scss */
svg.canvas .pv-nodes-focused .pv-node.selected {
  opacity: 1;
}

/* line 39, ../sass/screen.scss */
.pv-node {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 43, ../sass/screen.scss */
.pv-node .node-background {
  fill: white;
  stroke: lightgrey;
  stroke-width: 2px;
}
/* line 53, ../sass/screen.scss */
.pv-node .pv-body .pv-property .pv-property-background {
  fill: white;
}
/* line 57, ../sass/screen.scss */
.pv-node .pv-body .pv-property:hover {
  cursor: pointer;
}
/* line 62, ../sass/screen.scss */
.pv-node .pv-body .pv-property.pv-__proto__ rect {
  fill: purple;
  fill-opacity: 0.15;
  stroke-dasharray: 2;
}
/* line 67, ../sass/screen.scss */
.pv-node .pv-body .pv-property.pv-__proto__ text {
  stroke-dasharray: 1;
  fill: purple;
}

/* line 77, ../sass/screen.scss */
rect.pv-string {
  stroke: red;
}
/* line 80, ../sass/screen.scss */
rect.pv-number {
  stroke: blue;
}
/* line 83, ../sass/screen.scss */
rect.pv-function {
  stroke: green;
}
/* line 86, ../sass/screen.scss */
rect.pv-object {
  stroke: orange;
}
