$blue-50: #e1f5fe;
$blue-100: #b3e5fc;
$blue-200: #81d4fa;
$blue-300: #4fc3f7;
$blue-400: #29b6f6;
$blue-500: #03a9f4;
$blue-600: #039be5;
$blue-700: #0288d1;
$blue-800: #0277bd;
$blue-900: #01579b;
$blue-A100: #80d8ff;
$blue-A200: #40c4ff;
$blue-A400: #00b0ff;
$blue-A700: #0091ea;