$red-50: #fde0dc;
$red-100: #f9bdbb;
$red-200: #f69988;
$red-300: #f36c60;
$red-400: #e84e40;
$red-500: #e51c23;
$red-600: #dd191d;
$red-700: #d01716;
$red-800: #c41411;
$red-900: #b0120a;
$red-A100: #ff7997;
$red-A200: #ff5177;
$red-A400: #ff2d6f;
$red-A700: #e00032;