html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  grid-column: 1 / 3;
}

aside {
  grid-row: 2;
  border-right: 1px solid #ccc;
}

main {
  grid-row: 2;
  grid-column: 2;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/_common.scss */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 11, ../sass/_common.scss */
.no-padding {
  padding: 0 !important;
}

/* line 21, ../sass/_common.scss */
paper-toggle-button::shadow .toggle-ink {
  color: #4fc3f7;
}
/* line 25, ../sass/_common.scss */
paper-toggle-button::shadow [checked] .toggle-bar {
  background-color: #b3e5fc;
}
/* line 28, ../sass/_common.scss */
paper-toggle-button::shadow [checked] .toggle-button {
  background-color: #4fc3f7;
}
/* line 36, ../sass/_common.scss */
paper-input .focused-underline {
  background-color: #4fc3f7;
}
/* line 41, ../sass/_common.scss */
paper-input [focused] .floated-label .label-text {
  color: #4fc3f7;
}
/* line 47, ../sass/_common.scss */
paper-slider::shadow #sliderKnobInner, paper-slider::shadow #sliderKnobInner::before {
  background-color: #4fc3f7;
}
/* line 50, ../sass/renderer/d3.scss */
paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #4fc3f7;
}

/* line 4, ../sass/elements/ide.scss */
pojoviz-dev code-mirror {
  margin: 20px;
  -webkit-box-shadow: #eeeeee 0 0 25px;
  -moz-box-shadow: #eeeeee 0 0 25px;
  box-shadow: #eeeeee 0 0 25px;
}

/* line 5, ../sass/elements/readme.scss */
section[label=readme] {
  line-height: 20px;
}
/* line 10, ../sass/elements/readme.scss */
pojoviz-readme #parsed {
  padding: 40px;
}
/* line 18, ../sass/elements/readme.scss */
pojoviz-readme[script] #parsed {
  padding: 0;
}
/* line 22, ../sass/elements/readme.scss */
pojoviz-readme[script] .playground {
  padding: 20px;
  border: 1px solid black;
  width: 800px;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
/* line 29, ../sass/elements/readme.scss */
pojoviz-readme[script] .playground .script-src {
  position: absolute;
  top: 0;
  right: 0;
  background: #4fc3f7;
  color: white;
  padding: 5px 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 41, ../sass/elements/readme.scss */
pojoviz-readme[script] .script-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  margin: -20px 0 0 -20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 48, ../sass/elements/readme.scss */
pojoviz-readme[script] .script-mask:hover {
  cursor: pointer;
}
/* line 50, ../sass/elements/readme.scss */
pojoviz-readme[script] .script-mask:hover core-icon {
  color: #03a9f4;
}
/* line 56, ../sass/elements/readme.scss */
pojoviz-readme[script] core-icon {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
/* line 62, ../sass/elements/readme.scss */
pojoviz-readme[script] pre {
  margin: 0;
}

/* line 5, ../sass/elements/settings.scss */
pojoviz-settings section {
  padding: 40px;
}
/* line 12, ../sass/elements/settings.scss */
pojoviz-settings paper-slider::shadow #sliderKnobInner, pojoviz-settings paper-slider::shadow #sliderKnobInner::before,
pojoviz-settings paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #03a9f4;
}
/* line 18, ../sass/elements/settings.scss */
pojoviz-settings paper-checkbox::shadow #ink[checked] {
  color: #03a9f4;
}
/* line 21, ../sass/elements/settings.scss */
pojoviz-settings paper-checkbox::shadow #checkbox.checked {
  border-color: #03a9f4;
}
/* line 27, ../sass/elements/settings.scss */
pojoviz-settings paper-radio-button::shadow #onRadio {
  background-color: #03a9f4;
}

/* line 6, ../sass/elements/inspector.scss */
pojoviz-inspector-form paper-input {
  width: 100%;
}
/* line 10, ../sass/elements/inspector.scss */
pojoviz-inspector-form paper-spinner {
  position: relative;
  top: 40px;
  left: 20px;
}
/* line 17, ../sass/elements/inspector.scss */
pojoviz-inspector-form .options .bold {
  font-weight: bold;
}
/* line 21, ../sass/elements/inspector.scss */
pojoviz-inspector-form .options [center] {
  margin: 20px 0;
}
/* line 27, ../sass/elements/inspector.scss */
pojoviz-inspector-form paper-toggle-button {
  width: 50px;
}
/* line 31, ../sass/elements/inspector.scss */
pojoviz-inspector-form paper-slider {
  width: 770px;
}

/* popup */
/* line 6, ../sass/elements/search.scss */
#searchPopup::shadow #scroller {
  width: 850px;
  height: 650px;
}
/* line 12, ../sass/elements/search.scss */
#searchPopup paper-input {
  width: 90%;
}
/* line 16, ../sass/elements/search.scss */
#searchPopup paper-spinner {
  position: relative;
  top: 40px;
  left: 20px;
}
/* line 23, ../sass/elements/search.scss */
#searchPopup paper-radio-group .results {
  max-height: 200px;
  width: 90%;
  overflow-y: scroll;
  font-size: 12px;
}
/* line 29, ../sass/elements/search.scss */
#searchPopup paper-radio-group .results paper-radio-button {
  padding: 10px;
}
/* line 33, ../sass/elements/search.scss */
#searchPopup paper-radio-group .results .library-name {
  padding: 5px;
  font-size: 15px;
  font-weight: 100;
}
/* line 38, ../sass/elements/search.scss */
#searchPopup paper-radio-group .results .library-url {
  font-size: 12px;
  word-wrap: break-word;
}
/* line 42, ../sass/elements/search.scss */
#searchPopup paper-radio-group .results .record {
  margin: 20px 0;
}
/* line 49, ../sass/elements/search.scss */
#searchPopup .options .bold {
  font-weight: bold;
}
/* line 53, ../sass/elements/search.scss */
#searchPopup .options [center] {
  margin: 20px 0;
}
/* line 58, ../sass/elements/search.scss */
#searchPopup paper-toggle-button {
  width: 50px;
}
/* line 66, ../sass/elements/search.scss */
#searchPopup .small {
  font-size: 12px !important;
  font-weight: 100;
}
/* line 70, ../sass/elements/search.scss */
#searchPopup paper-button {
  margin: 0 10px;
}
/* line 73, ../sass/elements/search.scss */
#searchPopup paper-button[raisedButton].green {
  background: #259b24;
  color: #fff;
}
/* line 77, ../sass/elements/search.scss */
#searchPopup paper-button[raisedButton].blue {
  background: #03a9f4;
  color: #fff;
}

/* popup */
/* line 6, ../sass/elements/about.scss */
#aboutPopup::shadow #scroller {
  width: 600px;
  height: 350px;
}

/* line 11, ../sass/renderer/d3.scss */
.pv-link {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  fill: none;
  stroke-width: 3px;
  stroke: lightgrey;
}
/* line 18, ../sass/renderer/d3.scss */
.pv-link.selected {
  stroke: #03a9f4;
}
/* line 20, ../sass/renderer/d3.scss */
.pv-link.selected.predecessor {
  stroke: #e51c23;
}
/* line 23, ../sass/renderer/d3.scss */
.pv-link.selected.successor {
  stroke: #03a9f4;
}
/* line 29, ../sass/renderer/d3.scss */
.canvas-wrapper {
  height: 100%;
}
/* line 32, ../sass/renderer/d3.scss */
svg {
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/renderer/d3.scss */
svg.dragged {
  cursor: move;
}
/* line 41, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node {
  opacity: 0.3;
}
/* line 43, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.selected {
  opacity: 1;
}
/* line 47, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.predecessor .node-background {
  stroke: #e51c23;
}
/* line 52, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.successor .node-background {
  stroke: #03a9f4;
}
/* line 57, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.current .node-background {
  stroke: #673ab7;
}
/* line 65, ../sass/renderer/d3.scss */
.pv-node {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 69, ../sass/renderer/d3.scss */
.pv-node .node-background {
  fill: white;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke: #b3e5fc;
  stroke-width: 2px;
}
/* line 76, ../sass/renderer/d3.scss */
.pv-node .pv-title {
  font-size: 17px;
  font-weight: 100;
}
/* line 83, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property .pv-dot-object {
  fill: #03a9f4;
  fill-opacity: 1;
}
/* line 87, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property .pv-dot-function {
  fill: #f9bdbb;
}
/* line 92, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property .pv-property-background {
  fill: white;
}
/* line 96, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property:hover {
  cursor: pointer;
}
/* line 101, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property.pv-__proto__ rect {
  fill: #b3e5fc;
  fill-opacity: 0.15;
  stroke-dasharray: 2;
}
/* line 106, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property.pv-__proto__ text {
  stroke-dasharray: 1;
  fill: #b3e5fc;
}
/* line 113, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property rect.pv-string {
  stroke: #a3e9a4;
}
/* line 116, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property rect.pv-number {
  stroke: #ffe0b2;
}
/* line 122, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property rect.pv-object {
  stroke: #b3e5fc;
}
/* line 130, ../sass/renderer/d3.scss */
.pv-node.pv-function rect.node-background {
  stroke: #f9bdbb;
}

/* line 19, ../sass/pojoviz.scss */
*, *:before, *:after {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/pojoviz.scss */
#__bs_notify__ {
  display: none !important;
}

/* line 29, ../sass/pojoviz.scss */
.notoolbar core-toolbar {
  display: none;
}

/* line 38, ../sass/pojoviz.scss */
body core-animated-pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 45, ../sass/pojoviz.scss */
body .logo {
  text-align: center;
  padding: 30px 15px 15px;
  font-size: 4em;
  font-weight: 100;
}
/* line 50, ../sass/pojoviz.scss */
body .logo .subtitle {
  padding-top: 10px;
  font-size: 12px;
}
/* line 55, ../sass/pojoviz.scss */
body .center {
  display: block;
  margin: auto;
}
/* line 59, ../sass/pojoviz.scss */
body h1 {
  font-size: 3em;
}
/* line 63, ../sass/pojoviz.scss */
body core-header-panel[main] {
  background-color: white;
}
/* line 65, ../sass/pojoviz.scss */
body core-header-panel[main] core-toolbar {
  background-color: #03a9f4;
}
/* line 69, ../sass/pojoviz.scss */
body #playground {
  font-size: 12px;
}
/* line 75, ../sass/pojoviz.scss */
body .pojoviz {
  font-weight: 100;
  font-size: 1.3rem;
  color: #03a9f4;
}
/* line 80, ../sass/pojoviz.scss */
body core-item:hover {
  cursor: pointer !important;
}
/* line 83, ../sass/pojoviz.scss */
body .readme-iframe {
  margin: auto;
  display: block;
}
/* line 86, ../sass/pojoviz.scss */
body .readme-iframe html {
  -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
/* line 92, ../sass/pojoviz.scss */
body .as-button {
  text-decoration: none;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #03a9f4;
  color: white;
}
/* line 102, ../sass/pojoviz.scss */
body pojoviz-library-menu::shadow .library {
  font-size: 13px;
}
/* line 108, ../sass/pojoviz.scss */
body .library-runtime-configuration {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  opacity: 0.3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 118, ../sass/pojoviz.scss */
body .library-runtime-configuration:hover {
  opacity: 1;
}
/* line 123, ../sass/pojoviz.scss */
body paper-progress.app-progress {
  width: 100%;
  position: absolute;
  display: none;
}
/* line 129, ../sass/pojoviz.scss */
body paper-progress.app-progress::shadow #activeProgress {
  background-color: #e84e40;
}
/* line 134, ../sass/pojoviz.scss */
body paper-progress.app-progress.visible {
  display: block;
}

/* line 142, ../sass/pojoviz.scss */
.small {
  font-size: 12px !important;
  font-weight: 100;
}

/* line 150, ../sass/pojoviz.scss */
paper-dialog::shadow #scroller {
  width: 850px;
  height: 650px;
}

pre code, pre [class^="hljs"] {
  font-family: monospace;
}
