@import "tailwindcss" prefix(tw);
@tailwind base;
@tailwind components;
@tailwind utilities;


/* line 11, ../sass/renderer/d3.scss */
.pv-link {
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  fill: none;
  stroke-width: 3px;
  stroke: lightgrey;
}
/* line 29, ../sass/renderer/d3.scss */
.canvas-wrapper {
  height: 100%;
}
/* line 32, ../sass/renderer/d3.scss */
svg {
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/renderer/d3.scss */
svg.dragged {
  cursor: move;
}
/* line 41, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node {
  opacity: 0.3;
}
/* line 43, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.selected {
  opacity: 1;
}
/* line 47, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.predecessor .node-background {
  stroke: #e51c23;
}
/* line 52, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.successor .node-background {
  stroke: #03a9f4;
}
/* line 57, ../sass/renderer/d3.scss */
svg .pv-nodes-focused .pv-node.current .node-background {
  stroke: #673ab7;
}
/* line 65, ../sass/renderer/d3.scss */
.pv-node {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 69, ../sass/renderer/d3.scss */
.pv-node .node-background {
  fill: white;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke: lightgrey;
  stroke-width: 2px;
}
/* line 76, ../sass/renderer/d3.scss */
.pv-node .pv-title {
  font-size: 17px;
  font-weight: 100;
}
/* line 83, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property .pv-dot-object {
  fill: #03a9f4;
  fill-opacity: 1;
}
/* line 87, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property .pv-dot-function {
  fill: #f9bdbb;
}
/* line 92, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property .pv-property-background {
  fill: white;
}
/* line 96, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property:hover {
  cursor: pointer;
}
/* line 101, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property.pv-__proto__ rect {
  fill: #b3e5fc;
  fill-opacity: 0.15;
  stroke-dasharray: 2;
}
/* line 106, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property.pv-__proto__ text {
  stroke-dasharray: 1;
  fill: #b3e5fc;
}
/* line 113, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property rect.pv-string {
  stroke: #a3e9a4;
}
/* line 116, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property rect.pv-number {
  stroke: #ffe0b2;
}
/* line 122, ../sass/renderer/d3.scss */
.pv-node .pv-body .pv-property rect.pv-object {
  stroke: #b3e5fc;
}
/* line 130, ../sass/renderer/d3.scss */
.pv-node.pv-function rect.node-background {
  stroke: #f9bdbb;
}

pre code, pre [class^="hljs"] {
  font-family: monospace;
}

svg text {
  font-family: monospace;
}

svg text.pv-title {
  letter-spacing: -1px;
}
