$green-50: #d0f8ce;
$green-100: #a3e9a4;
$green-200: #72d572;
$green-300: #42bd41;
$green-400: #2baf2b;
$green-500: #259b24;
$green-600: #0a8f08;
$green-700: #0a7e07;
$green-800: #056f00;
$green-900: #0d5302;
$green-A100: #a2f78d;
$green-A200: #5af158;
$green-A400: #14e715;
$green-A700: #12c700;